# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================================
# Virtual Environment
# ==========================================
.venv/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Airflow
# ==========================================
airflow_home/logs/
airflow_home/*.pid

# Airflow metadata database (generated)
airflow_home/airflow.db

# Generated authentication password file
airflow_home/simple_auth_manager_passwords.json.generated

# ==========================================
# Downloads
# ==========================================
downloads/

# ==========================================
# SQLite
# ==========================================
*.sqlite3
*.db-journal

# ==========================================
# macOS
# ==========================================
.DS_Store